@{
    ViewBag.Title = "Pagina de inicio";
}

<div class="jumbotron">
    <h1>APP CRUD ENTITY FRAMEWORK</h1>
    <p class="lead">Benvenido a la App CRUD Entity Framework, donde podra crear y visualizar una base de datos
    Todo esto a partir de una archivo plano .csv</a></p>
</div>

